<div class="cards" *ngFor="let dataItem of myStocks">
    <h2 class="title" >{{dataItem.Name}} <span class="tag" > [{{dataItem.symbol}}]</span></h2>
		
        <div style="float:right; margin-top:5px;">
            <button class="button1" (click)="openInfo(dataItem.Id)">
                <span>See details</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="24px" fill="none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                </svg>
            </button>
        </div>
		<p class="info"><br>Market sphere: {{dataItem.market_scope}}. Type: {{dataItem.type}}.</p>
        <hr style=" color:olivedrab">
		
</div>
