<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop ="static" data-keyboard="false"
>
    Add Stock
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeclick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-stocks [stock]="stock" *ngIf="ActiveAddEditStockComp"></app-add-edit-stocks>
          
        </div>
       
      </div>
    </div>
  </div>


<table class="tbale table-striped">
    <thead>
        <tr>
            <th >
                <div class="d-flex flex-row" >
                    <input [(ngModel)]="StockNameFilter" class="form-control"
                    (keyup)="FilterFn()" placeholder="Filter">

                    <button type="button" class="btn btn-light" (click)="sortResult('Name',true)"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                          </svg>    
                    </button>
                    <button type="button" class="btn btn-light" (click)="sortResult('Name',false)"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                          </svg>    
                    </button>
                </div>
                
                Stocks Name</th>
            <th>Company name</th>
            <th>Symbol</th>
            <th>MarketScope</th>
            <th>Type</th>
            <th>Info</th>
            <th>Net Income</th>
            <th>WASO</th>
            <th>Changes</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of StocksList">
            <td>{{dataItem.Name}}</td>
            <td>{{dataItem.CompanyName}}</td>
            <td>{{dataItem.Symbol}}</td>
            <td>{{dataItem.MarketScope}}</td>
            <td>{{dataItem.Type}}</td>
            <td>{{dataItem.Info}}</td>
            <td>{{dataItem.NetIncome}}</td>
            <td>{{dataItem.WeightedAverage}}</td>
            <td>
              <button type="button" class="btn btn-light mr-1"
              (click)="onChanges(dataItem.Id)">

                  Changes list</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning mr-1"
                data-toggle="modal" data-target="#exampleModal"
                (click)="editClick(dataItem)"
                >Edit</button>
                </td>
                <td>
                <button type="button" class="btn btn-danger mr-1"
                (click)="deleteClick(dataItem)">

                    Delete</button>
            </td>
        </tr>
        
    </tbody>
</table>
<style>
    th{
        padding-left:10px;
    }
</style>