
<table style='margin-right: 0px;margin-left: auto;'>
    <tr>
      
      <!--<td> <label>{{'HOME.SELECT' | translate }}: 
        <select #langselect (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" value="{{lang}}">{{ lang }}</option>

        </select>
      </label></td>-->
<div *ngIf="!UserCookieExists()">
<td><a routerLink='/register'> Register</a></td>
<td><a routerLink='/login'>Log in</a></td>
</div>
<div *ngIf="UserCookieExists()">
  <td *ngIf="UserTypeNormal()"><a routerLink='/cabinet' > Cabinet</a></td>
  <td><a routerLink='/login' (click)="signout()"> Sign out</a></td>
</div>

<tr>
</table>

<br>
<router-outlet></router-outlet>

<style>
    table, th, td {
  border: 1px solid black;
  padding: 2px;
  padding-left: 5px;
  padding-right: 10px;
}
</style>

