
<div class="container">

</div>
        <div class="tabs effect-4">
    <!-- tab-title -->
    <input type="radio" id="tab-1" name="tab-effect-3" checked="checked">
    <span>
        <i class="fa fa-home"></i><span>Stocks</span>
    </span>

    <input type="radio" id="tab-2" name="tab-effect-3">
    <span>
        <i class="fa fa-btc"></i><span>Backup & Restore</span>
    </span>

    <input type="radio" id="tab-3" name="tab-effect-3">
    <span>
        <i class="fa fa-wrench"></i><span>Technical</span>
    </span>

    <input type="radio" id="tab-4" name="tab-effect-3">
    <span>
        <i class="fa fa-heart"></i><span></span>
    </span>

    <input type="radio" id="tab-5" name="tab-effect-3">
    <span>
        <i class="fa fa-envelope"></i><span></span>
    </span>

    <!-- tab-content -->
    <div class="tab-content" >
        <section id="tab-item-1">
            <app-stocks></app-stocks>
        </section>
        <section id="tab-item-2">
            <app-backup></app-backup>
        </section>
        <section id="tab-item-3">
            <app-technical></app-technical>
        </section>
        <section id="tab-item-4">
            <h1>Four</h1>
        </section>
        <section id="tab-item-5">
            <h1>Five</h1>
        </section>
    </div>
</div>
        
